<html>
<head>
 
<!-- Start: injected by Adguard -->
<script src="//local.adguard.com/adguard-ajax-api/injections/userscripts/Adguard Assistant Beta?ts=63636103867069" type="text/javascript"></script>
<script src="//local.adguard.com/adguard-ajax-api/injections/userscripts/Adguard Popup Blocker Beta?ts=63636103867069" type="text/javascript"></script>
<script src="//local.adguard.com/adguard-ajax-api/injections/userscripts/Web of Trust Beta?ts=63636103867069" type="text/javascript"></script>
<script src="//local.adguard.com/adguard-ajax-api/injections/content-script.js?ts=63636103786809&amp;domain=mail-attachment.googleusercontent.com&amp;mask=103" type="text/javascript"></script>

<!-- End: injected by Adguard -->
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
</head>

<style>
body {
    background-color: white;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
.font {
	font-family: 'Fjalla One', sans-serif, gray;
}

</style>
<body >
<br>


<div class="font">
<h2 style="color: #3fbfbb">About us :</h2>	
<h3 style="color: gray"> We are 13 graders from nazareth and jerusalem, we aim to ease the volunteering process, and break social bounderies between people from different backgrounds. our group members are: Adan Suleiman, Rita Abunassar, Mahmoud Khalifa, Harel Bartuv, Noga Ben Yehuda, Samira Moussa, Tamer Kirresh, Tina Carmi, Anan Abu Hamed, Jeries Saleh, Tehila Pelled, Gidon Schienera and Ido nov.</h3>
<hr>



</div>
<center>
<img src={{url_for('static',filename='tina.jpg')}} width="100" length="150">
<img src={{url_for('static',filename='harel.jpg')}} width="100" length="150">
<img src={{url_for('static',filename='adan.jpg')}} width="100" length="150">
<br>
<img src={{url_for('static',filename='samira.jpg')}} width="100" length="150">
<img src={{url_for('static',filename='rita.jpg')}} width="100" length="150">
<img src={{url_for('static',filename='noga.jpg')}} width="100" length="150">
<br>
<img src={{url_for('static',filename='tehila.jpg')}} width="100" length="150">
<img src={{url_for('static',filename='mahmoud.jpg')}} width="100" length="150">
<img src={{url_for('static',filename='tamer.jpg')}} width="100" length="150">
<br>
<img src={{url_for('static',filename='anan.jpg')}} width="100" length="150">
<img src={{url_for('static',filename='jeries.jpg')}} width="100" length="150">
<br><br>
</center>

<h2 style="color: #3fbfbb">Contact us : Volunpeer@meet.mit.edu</h2>
</body>
</html>
