<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    

   
    <link href="{{url_for('static', filename='css-BS/bootstrap.min.css')}}" rel="stylesheet">

    
    <link href="{{url_for('static', filename = 'css-BS/round-about.css')}}" rel="stylesheet">
</head>
<body>
<div class="container">

   <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="page-header">Find the place that fits you!<br>
                    <small>Volunpeer</small>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
   </div>
  {% for org in organizations %}
    <div style="float: left;">
    {% if loop.index%3==1 %}
    <a style="text-decoration: none;" href="{{url_for('place',place_id=org.id)}}">
    <div class="flip"> 
        <div class="front"> 
            <img src="{{org.profile}}" alt="" height = "100">
        </div> 
        <div class="back">
            <h3>{{org.shortdescription}}</h3>
        </div> 
    </div>
    </div>
    </a>
{% endif %}
</div>
{% if loop.index%3==2 %}
    <a href="{{url_for('place',place_id=org.id)}}">
<div style="float: left;margin-left: 2em;">
<div class="flip"> 
    <div class="front"> 
        <img src="{{org.profile}}" alt="" height ="100">
    </div> 
    <div class="back">
        <h3><a style="text-decoration: none;" href="{{url_for('place',place_id=org.id)}}">{{org.shortdescription}}</a></h3>
    </div> 
</div>
</div>
</div>
</a>
{% endif %}

{% if loop.index%3==0 %}
    <a href="{{url_for('place',place_id=org.id)}}">
<div style="float: left;margin-left: 2em;">
<div class="flip"> 
    <div class="front"> 
        <img src="{{org.profile}}" alt="" height="100">
    </div> 
    <div class="back">
        <h3><a style="text-decoration: none;" href="{{url_for('place',place_id=org.id)}}">{{org.shortdescription}}</a></h3>
    </div> 
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



</div>
</a>




{% endif%}
{% endfor %}
</div>
</div>





</body>
</html>