{% extends "template.html" %}
	{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
    img {
        border-radius: 10% ;
    }
    </style>
</head>
<body>
<div id = "myarea">
<br>
<h2>Notifications</h2>
<center>
  
<img src = {{user.profile}} height = "300">
<h2>{{user.name}}</h2>
<a href = ""><button class = "btn btn-lg">Edit profile</button></a>
</center>

</div>
<h1>Requested:</h1>
{% if stillreqs == [] %}

<h2>No unanswered requests</h2>

{% endif %}
{% if type=="vol"%}

{% for req in stillreqs %}
<h3>Volunteer: {{ volnames[loop.index-1] }}
    Organizations: {{ orgnames[loop.index-1] }}
    start time: {{req.start_time}}
    length: {{req.length}}
    <a href="{{url_for('delete',id=req.id)}}">
    <img src="/static/background/delete.png" width="50px" height="50px">  </a>
{% endfor %}

<h1>Accepted:</h1>
{% for req in acceptedreqs%}
<h3>Volunteer: {{ volnames[loop.index-1] }}
    Organizations: {{ orgnames[loop.index-1] }}
    start time: {{req.start_time}}
    length: {{req.length}}
    <a href="{{url_for('delete',id=req.id)}}">
    <img src="/static/background/delete.png" width="50px" height="50px">  </a>
{% endfor %}

{% else %}
{% endif %}

</body>
</html>


{% endblock %}

